/*
Template Name: Me
Author: One Page Love
Author URI: https://onepagelove.com
Template URI: https://onepagelove.com/me
Description: Me is a slick, personal layout for any individual wanting a minimal online presence. Features include a big background image, logo, bio and icons.
Version: 0.2.2
*/
/* -- CSS Reset -- */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  margin: 0; }

img.alignright {
  float: right; }

img.alignleft {
  float: left; }

img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

body {
  background-color: #FFFFFF;
  border-style: none; }

body,p,a,a:hover {
  color: #000000; }

a,a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none; }

/* -- Content -- */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  background-color: #ffffff; }

body {
  height: 100vh;
  background-color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #ffffff;
  background-image: url("../../images/background.jpeg");
  background-position: 85% center;
  background-size: cover; }
  body p {
    margin-bottom: 28px;
    color: #ffffff; }
    @media (max-width: 800px) {
      body p {
        font-size: 32px;
        line-height: 40px; } }

.fs-me {
  padding: 10vh 10vw;
  overflow: hidden;
  position: absolute;
  z-index: 1000; }
  @media (max-width: 500px) {
    .fs-me {
      padding: 5vh 5vw;
      text-align: center; } }
  .fs-me .me-content {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 500px) {
      .fs-me .me-content {
        height: 90vh; } }

.name {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: left;
          align-self: left;
  -webkit-animation: fadein 2s;
          animation: fadein 2s; 
  text-shadow: 0px 0px 18px rgba(0, 0, 0, 1);}
  @media (max-width: 1170px) {
    .name {
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      -webkit-animation: fadein 2s;
      animation: fadein 2s;
    }
  }
  @media (max-width: 800px) {
    .name {
      height: 50vh;} 
  }
  @media (max-width: 500px) {
    .name {
      -webkit-align-self: center;
              align-self: center; 
      height: 50vh;} 
  }

.bio {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  letter-spacing: -1px;
  max-width: 66%; }
  @media (max-width: 800px) {
    .bio {
      max-width: none;
      vertical-align: bottom; 
      } }
  .bio a {
    color: #000000;
    -webkit-transition: 1s;
    transition: 1s; }
    .bio a:hover {
      color: #4b4a4a;
      -webkit-transition: 0.1s;
      transition: 0.1s; }

.network {
  padding: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  margin-top: auto; }
  .network ul {
    -webkit-animation: fadein 2s;
            animation: fadein 2s;
    margin-top: auto; }
    .network ul li {
      display: inline-block;
      margin-right: 8px; }
      .network ul li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer; }
        .network ul li a .svg-icon {
          padding: 4px;
          width: 22px;
          height: 22px;
          margin: 0;
          display: block; }
        .network ul li a .svg-icon path,
        .network ul li a .svg-icon polygon,
        .network ul li a .svg-icon rect {
          fill: #ffffff;
          -webkit-transition: 1s;
          transition: 1s; }
        .network ul li a .svg-icon circle {
          stroke: #ffffff;
          stroke-width: 1; }
      .network ul li a:hover .svg-icon path,
      .network ul li a:hover .svg-icon polygon,
      .network ul li a:hover .svg-icon rect {
        fill: #4b4a4a;
        -webkit-transition: 0.1s;
        transition: 0.1s; }

.credit {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
  -webkit-animation: fadein 3s;
          animation: fadein 3s; }
  .credit p.copyright {
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;}
    .credit p.copyright a {
      color: #ffffff;
}

.email {
  color: white;
  padding-right: 10px;
  font-size: 20px;
  width: min-content;
  vertical-align: top;
  text-align: left;
  
}
.email:hover {
  color: white;
}

path {
  fill: #ffffff;
}